.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  background-color: #303030;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  position: static;
  bottom: 0;
  width: 100%;
  justify-content: center;
  padding: 2rem;
  background-color: #303030;
}
.dashImg {
  height: 600px;
  width: 900px;
  justify-content: center;
  text-align: center;
  padding: 15px, 25px;
  margin: 30px;
}
.dashH1 {
  text-align: center;
}
.h1 {
  font-size: 1.6rem;
  font-weight: bold;
  font-style: italic;
}
.p {
  margin-right: 1.2rem;
  font-size: 0.8rem;
  font-style: italic;
}

.articalLink {
  font-size: 1.5rem;
  font-weight: bold;
}
.articalLink:hover {
  color: blue;
}
.articalText {
  font-size: 1.3rem;
  line-height: 2.3rem;
  word-spacing: 0.5rem;
  margin-top: 1rem;
  color: black;
  padding: 1rem;
}
.articalSection {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1250px;
  gap: 2.2rem;
}

.btnLink {
  margin: 3px;
  padding: 7px;
  border-radius: 10px;
  border-color: white;
  background-color: #303030;
}
.cardStyle {
  padding: 10px;
  border-color: white;
  border-radius: 10px;
  background-color: #303030;
  text-align: start;
  margin: 10px;
}
.bodyContainer {
  background-color: #d0d2d6;
  margin-top: 15px;
}
