.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  background-color: #303030;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  background-color: #303030;
}
.h1 {
  font-size: 1.6rem;
  font-weight: bold;
  font-style: italic;
}
.p {
  margin-right: 1.2rem;
  font-size: 0.8rem;
  font-style: italic;
}
